.main{
    width: 100%;
}
.formLogin{
    width: 400px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5%;
    height:430px;
}
.formLogin h3{
  text-align: center;
}
.formItemLogin input{
  width: 300px;
  height: 25px;
  margin-left: 50px;
 
}
.formItemLogin p{
    margin-left: 50px;
    
    
}
.buttonLogin{
  margin-left: 50px;
  width: 310px;
  height: 25px;
  background-color: rgb(247, 181, 68);
  border-radius: 5px;
  margin-top: 20px;
}
.recapchaLog{
  margin-left: 50px;
  margin-top: 20px;
}
.note{
  font-size: 10px;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  
}
.buttonLogin{
  margin-bottom: 20px;
}
.linkForgotPassword a{
 margin-left: 100px;
 text-decoration: none;


 
}
.buttonLogin {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 2px solid;
  outline-color: rgba(0, 0, 0, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 

.buttonLogin:hover {
  border: 2px solid;
  box-shadow: inset 0 0 20px rgba(213, 245, 57, 0.5), 0 0 20px rgba(241, 241, 58, 0.2);
  outline-color: rgba(255, 255, 41, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #e9ff42; 
}