.buttonForgotPassword {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 2px solid;
    outline-color: rgba(0, 0, 0, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  } 
  
  .buttonForgotPassword:hover {
    border: 2px solid;
    box-shadow: inset 0 0 20px rgba(244, 255, 34, 0.5), 0 0 20px rgba(255, 255, 85, 0.2);
    outline-color: rgba(253, 253, 24, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #f0ff7d; 
  }
  .buttonForgotPassword{
    margin-left: 50px;
    width: 310px;
    height: 25px;
    background-color: rgb(247, 181, 68);
    border-radius: 5px;
    margin-top: 20px;
  }
  .formForgotPassword{
    width: 400px;
   margin: 0 auto;
    background-color: white;
    border-radius: 5%;
    height:400px;
}
.formForgotPassword h3{
  text-align: center;
  margin-top: 70px;
  padding-top: 20px;
}
.formForgotPassword .container input{
  width: 280px;
  height: 25px;

 
}
.noteForgotPassword {
 text-align: center;
 padding: 0 10px;
 margin-bottom: 20px;
  }
.recapchaForgotPassword{
 margin-left: 50px;
margin-top: 20px;
  }
a{
    color: black;
}